{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="mt-3 mb-4">Products</h1>
        <div class="row">
            {% for study in studies %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="https://via.placeholder.com/200x150" alt="{{ study.name }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ study.name }}</h5>
                            <div class="d-flex justify-content-between align-item-center">
                                <a href="{{ path('shop.detail', {id: study.id}) }}" class="btn btn-dark">
                                    View details
                                </a>
                                <span class="h5 mt-auto">{{ study.price }} €</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
