<!-- FEATURES -->
<section class="py-8 py-md-11 border-bottom">
	<div class="container">
		<div class="row">
			<h1>Nomadic labgrade IOT device & smart app</h1>
			<p style="font-size:bold;">WIRED BEAUTY is a French beauty-tech market research company which invested 1,3M€ to develop a non invasive, portable lab connected device to deliver labgrade and real time measurements of skin markers to dermocosmetic lab as well as a smart app in order to also harvest consumer perception.</p>
			<div
				class="col-12 col-md-4" data-aos="fade-up">
				<!-- Heading -->
				<h3>
					WB is NEW
				</h3>

				<!-- Text -->
				<p class="text-muted mb-6 mb-md-0">
					Hybrid studies combining objective clinical results measurements & consumer perception.
				</p>

			</div>
			<div
				class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="50">
				<!-- Heading -->
				<h3>
					WB is DIFFERENT
				</h3>

				<!-- Text -->
				<p class="text-muted mb-6 mb-md-0">
					Proprietary IOT and Algorythm allowing decifering within minutes combined with a consumer app harvesting consumer opinions.
				</p>

			</div>
			<div
				class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="100">
				<!-- Heading -->
				<h3>
					WB is BETTER
				</h3>

				<!-- Text -->
				<p class="text-muted mb-0">
					Real World Evidence (link with pollution, UV  and lifestyle) of skincare efficiency on large statistical basis (ex 1000 testers).
				</p>

			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->
</section>


<section id="scroll">
	<div class="container px-5">
		<div class="row gx-5 align-items-center">
			<div class="col-lg-6 order-lg-2">
				<div class="p-5"><img class="img-fluid rounded-circle" src="{{ asset("img/portfolio/portfolio-2.jpg") }}" alt="..."/></div>
			</div>
			<div class="col-lg-6 order-lg-1">
				<div class="p-5">
					<h2 class="display-4">SMART DATA X SKINCARE</h2>
					<p>Our measurements range from:
																																																																																																																																																																		 targeted markers such as Ascorbic acid, Alpha Tocopherol and squalen/sebum to,  
																																																																																																																																																																		non targeted measurements of the barrier function or the antioxydative capacity of the skin. 
																																																																																																																																																																		
																																																																																																																																																																		Our scientific partners ( APHP and CRO : lien en page scientific )    have established that our measurement of TEWL is statistically correlated to that of  chromatography which is the reference methodology as opposed to corneometry. Our technology is complementary to imagery.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="py-8 py-md-11 border-bottom">
	<div class="container">
		<div class="row">
			<h1>OUR INSANELY FAST ALGORITHM!</h1>
			<p style="font-size:bold;">Thanks to its IOT, its mobile consumer app and its standardized single-use patches, Wired Beauty can decifer within seconds skin antioxydative and mosterizing reactions. Artificial intelligence improves repeatability of process.
			</p>
			<div
				class="col-12 col-md-4" data-aos="fade-up">
				<!-- Text -->
				<img src="{{asset("img/app.jpg")}}" alt="">
				<p class="text-muted mb-6 mb-md-0">
					Smartphone App x feedback and lifestyle data

				</p>

			</div>
			<div
				class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="100">
				<!-- Text -->
				<img src="{{asset("img/patches.jpg")}}" alt="">
				<br>
				<br>
				<p class="text-muted mb-0">
					Single-use peel-off patches
				</p>

			</div>
			<div
				class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="100">
				<!-- Text -->
				<img src="{{asset("img/dataCenter.jpg")}}" alt="">
				<br>
				<br>
				<p class="text-muted mb-0">
					European data center
				</p>

			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->
</section>
<!-- Content section 2-->
