<!-- Content section 2-->
<section id="scroll">
	<div class="container px-5">
		<div class="row gx-5 align-items-center">

			<div class="col-lg-6">
				<div class="p-5"><img class="img-fluid rounded-circle" src="{{asset("img/portfolio/portfolio-1.jpg")}}" alt="..."/></div>
			</div>
			<div class="col-lg-6">
				<div class="p-5">
					<h1 class="display-3 text-center text-md-start">
						Beauty Tech
						<span class="text-primary">X</span>.
						<br>
						Skin Care
					</h1>
					<h2 class="display-4">We research Skin Care</h2>
					<p class="lead text-center text-md-start text-muted mb-6 mb-lg-8">
						WIRED BEAUTY is a new datadriven market research company dedicated to cosmetic laboratories. 
																																																																																																																																																	
																																																																																																																																																	We help our clients evaluate and develop skincare formulae by comparing cosmetics on statistically viable samples of men & women (1000 people):
						<ul>
							<li>the antioxydative and moisterizing effect of formulae (in vivo)</li>
							<li>the antioxydative and moisterizing effect of ingredients (in vitro)  (cf Reach)</li>
							<li>consumer feedback after product use</li>
							<li>environmental conditions (UV pollution) surronding the consumer’s lifestyle</li>
							<li>skincare performance after 1 day – 8 days – 15 days - X days.</li>
						</ul>

					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Content section 3-->
<section>
	<div class="container px-5">
		<div class="row gx-5 align-items-center">
			<div class="col-lg-6 order-lg-2">
				<div class="p-5"><img class="img-fluid rounded-circle" src="{{ asset("img/searchTech.jpg") }}" alt="..."/></div>
			</div>
			<div class="col-lg-6 order-lg-1">
				<div class="p-5">
					<h2 class="display-4">WE Rely On Data & Technology</h2>
					<p>
						<ul>
							<li>Proprietary nomadic lab device & patented skin patches to decipher skin reactions and ingredient presence
							</li>
							<li>Easy multi-lingual smartphone app and customer feedback</li>
							<li>Geolocalisation and exposome data (UV - pollution - temperature)</li>
							<li>Repeatability of protocols in real life conditions (ie bathrooms)</li>
							<li>Large cohorts it needed
							</li>
							<li>
								Saas and European data center</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="scroll">
	<div class="container px-5">
		<div class="row gx-5 align-items-center">

			<div class="col-lg-6">
				<div class="p-5"><img class="img-fluid rounded-circle" src="{{asset("img/portfolio/portfolio-1.jpg")}}" alt="..."/></div>
			</div>
			<div class="col-lg-6">
				<div class="p-5">
					<h2 class="display-4">WE WORK FOR LABS AND MARKETING TEAMS
					</h2>
					<p class="lead text-center text-md-start text-muted mb-6 mb-lg-8">
						Combining efforts with countries usual CRO’s In all countries, even in China where anonymized data is ke

					</p>
				</div>
			</div>
		</div>
	</div>
</section>
